body {
  font-family: "Imprima", sans-serif;
  font-size: 20px;
  background-image: url("/Users/apple/Desktop/SheCodes/SheCodes Plus/Restarting App/images/background2.jpg");
  background-color: rgb(230, 80, 10);
  color: #212121;
}

div.card-one-style {
  background: transparent;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  margin: 100px 130px 60px;
  padding: 20px 30px;
}

div.card-two-style {
  background: transparent;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  margin: 20px 130px;
  padding: 40px;
  text-align: center;
  color: #ffffff;
}

input.form-input-style {
  border-radius: 50px;
  margin-bottom: 15px;
  font-size: 18px;
  opacity: 0.4;
}

h1 {
  font-size: 44px;
}

div.current-conditions {
  margin-top: 10px;
}

span.current-weather {
  font-size: 64px;
  color: #ffc107;
}

span.current-weather-icon {
  color: #757575;
}

span.unit-type {
  position: relative;
  bottom: 30px;
  left: 5px;
}

span.other-description-label {
  font-weight: 600;
}

span.forecast-weather-high {
  font-weight: bold;
  color: #ffc107;
}

ul {
  list-style: none;
}
a.search {
  background: #757575;
  border: 1px solid #757575;
  transition: all 200ms ease-in-out;
}

a.search:hover {
  background: #ffffff;
  border: 1px solid #757575;
  color: #757575;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #757575;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: #ffffff;
  cursor: pointer;
}

div.five-day-banner {
  padding: 5px;
  font-size: 24px;
}

div.icons {
  margin-bottom: 10px;
  font-size: 44px;
  color: #ff6600;
}

div.forecast {
  margin-bottom: 10px;
  font-size: 22px;
}

div.forecast-weather-description {
  font-size: 14px;
  font-weight: 700;
  color: #cccccc;
}
